      <div id='footer'>
        <div id='topfooter'>
          <div class='content'>
            <div class='left'>
              <div class='instedd-logo'></div>
              <img alt="Footerseparator" class="linksseparator" src="/assets/images/footerSeparator.png" />
              <div class='clear'></div>
              <div class='linkscolumn'>
                <div class='linkssection'>
                  <a href="/nosotros" class="sectiontitle">Nosotros</a>
                  <a href="/nosotros/mision">Visión, Misión y Valores</a>
                  <a href="/nosotros/historia">Historia</a>
                  <a href="/nosotros/estrategia">Estrategia</a>
                </div>
                <div class='linkssection'>
                  <a href="/trabajo" class="sectiontitle">Trabajo</a>
                  <a href="/trabajo/servicios">Servicios</a>
                  <a href="/trabajo/escenarios">Escenarios</a>
                </div>
              </div>
              <div class='linkscolumn'>
                <div class='linkssection'>
                  <a href="/herramientas" class="sectiontitle">Herramientas</a>
                  <a href="/herramientas/geochat">Geochat</a>
                  <a href="/herramientas/riff">Riff</a>
                  <a href="/herramientas/nuntium">Nuntium</a>
                  <a href="/herramientas/resource_map">Resource Map</a>
                  <a href="/herramientas/seentags">SeenTags</a>
                  <a href="/herramientas/pollit">Pollit</a>
                  <a href="/herramientas/veegilo">Veegilio</a>
                  <a href="/herramientas/mesh4x">Mesh4x</a>
                  <a href="/herramientas/reporting_wheel">Reporting Wheel</a>
                </div>
              </div>
              <div class='linkscolumn'>
                <div class='linkssection'>
                  <a href="/blog" class="sectiontitle">Blog</a>
                </div>
                <div class='linkssection'>
                  <a href="/involucrate" class="sectiontitle">Contáctanos</a>
                </div>
              </div>
              <div class='clear'></div>
            </div>
            <div class='right box' id='twitter'>
              <a class="twitter-timeline" href="https://twitter.com/iLabLatAm" data-widget-id="347399907969212417">Tweets por @iLabLatAm</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>
        </div>
<div id='bottomfooter'>
  <div class='content'>
    <div class='bottominfo left'>
      InSTEDD iLab América Latina by
      <a href="http://www.manas.com.ar" class="manaslink"><img alt="Manas" src="/assets/images/manas.png" />
      </a>
    </div>
    <div class='bottomlinks right'>
      <a href="http://instedd.org">InSTEDD</a>
      <a href="http://www.manas.com.ar">Manas</a>
    </div>
    <div class='clear'></div>
  </div>
</div>
