<a href="/herramientas/geochat" {% if page.url contains 'geochat' %} class= "selected" {% endif %}>Geochat</a>
<a href="/herramientas/riff" {% if page.url contains 'riff' %} class= "selected" {% endif %}>Riff</a>
<a href="/herramientas/nuntium" {% if page.url contains 'nuntium' %} class= "selected" {% endif %}>Nuntium</a>
<a href="/herramientas/resource_map" {% if page.url contains 'resource_map' %} class= "selected" {% endif %}>Resource Map</a>
<a href="/herramientas/seentags" {% if page.url contains 'seentags' %} class= "selected" {% endif %}>Seentags</a>
<a href="/herramientas/pollit" {% if page.url contains 'pollit' %} class= "selected" {% endif %}>Pollit</a>
<a href="/herramientas/veegilo" {% if page.url contains 'veegilo' %} class= "selected" {% endif %}>Veegilo</a>
<a href="/herramientas/mesh4x" {% if page.url contains 'mesh4x' %} class= "selected" {% endif %}>Mesh4X</a>
<a href="/herramientas/reporting_wheel" {% if page.url contains 'reporting_wheel' %} class= "selected" {% endif %}>Reporting Wheel</a>
